{% extends 'QC/base.html'%}
{% load crispy_forms_tags %}


{% block content%}
<br>
<div class="container" style="border-style: solid;background-color: #f1f1f1;">
<div align="left">
        <li class="list-group-item active">All voices history</li>
{% for i in page_obj %}
    {# Each "contact" is a Contact model object. #}

    <li class="list-group-item"><a href="{%url 'detail_score' i.id%}">{{i}}</a>------------------------------------
        <a href="{%url 'delete_voice' i.id%}">delete</a></li><br>

{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination">

        {% if page_obj.has_previous %}
           <li class="page-item"> <a href="?page=1" class="page-link">&laquo; first</a></li>
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link" >previous</a></li>
        {% endif %}



        {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a></li>
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
        {% endif %}

        </ul>
         <span class="current"><h5>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
             </h5>
        </span>
</nav>


<!--{%for i in context%}-->
<!--        <ul class="pagination">-->
<!--<li><a href="{%url 'detail_score' i.id%}">{{i}}</a>-->
<!--    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; <a href="{%url 'delete_voice' i.id%}">delete</a></li>-->
<!--{%endfor%}-->
<!--        </ul>-->
<!--<br>-->
<!--{%for i in page%}-->
<!--    <uL class="pagination">-->
<!--    {%for j in i%}-->
<!--        <li>{{j}}</li>-->

<!--    {%endfor%}-->
<!--        </uL>-->
<!--{%endfor%}-->


<!--<h4>{{page_obj|length}} :تعداد</h4>-->

            <br>

</div>
<div class="col-sm-4">
<form action="/qc/history/" method="POST">
    {% csrf_token %}
      <label for="start">start</label><br>
      <input type="datetime-local" value="start" name="start" id="start"><br><br>
      <label for="end">end</label><br>
      <input type="datetime-local" value="end" name="end" id="end"><br><br>

      <select id="qc" name="qc">
          {%for i in qc%}
    <option value={{i}}>{{i}}</option>
          {%endfor%}
  </select><br><br>



  <input type="submit" value="Submit" class="btn btn-danger">
    <br><br>
    <a href="{%url 'qc'%}"  class="btn btn-primary active role="button">Home</a>

</form>


    <br><br>




    <br>
    </div>
    </div>
</div>
{% endblock %}