{% extends 'QC/base.html'%}
{% load crispy_forms_tags %}


{% block content%}
<div class="row content">
    <div class="row">
        <div class="col col-lg-10">

    </div>
    <div class="col col-lg-2">
    <div class="float-lg-right sidenav">
<form action={%url 'score'%} method="post">
    {% csrf_token %}
    <li class="list-group-item active">ارزیابی عملکرد اپراتور</li>
    {{ form|crispy  }}

    <input type="submit" value="Submit" class="btn btn-success">
</form>
<br>
<a href="{%url 'qc'%}"  class="btn btn-primary active" role="button">Home</a>
<br>

</div>
    </div></div></div>
{% endblock %}