{% extends 'QC/base.html'%}
{% load crispy_forms_tags %}


{% block content%}

<!--<div class="container" style="border-style: solid;">-->
<div class="container-fluid">
<div class="row content" dir="rtl">
    <div class="col-sm-3 sidenav">
<h3>{{context.agent}}</h3>
<ul dir="ltr" style="text-align: right;">
<li class="list-group-item">{{number}} :تعداد ویس</li>
<li class="list-group-item">{{remark}} :تعداد تذکر</li>
<li class="list-group-item">{{context.number_of_warning}} :تعداد اخطار</li>
<li class="list-group-item">{{context.number_of_retraining}} :تعداد آموزش مجدد</li>
        </ul>
<h3>خطاها</h3>
{%for i in indicators%}
{%for key, value in i.items%}
<li class="list-group-item">{{key}}: {{value}}</li>
{%endfor%}
{%endfor%}
<form action="{%url 'agent_detail' context.id%}" method="POST">
    {% csrf_token %}
      <label for="start">start</label><br>
      <input type="datetime-local" value="start" name="start" id="start"><br><br>
      <label for="end">end</label><br>
      <input type="datetime-local" value="end" name="end" id="end"><br><br>
  <input type="submit" value="Submit" class="btn btn-success">
</form>
            <br>
<a href="{%url 'agent'%}"  class="btn btn-primary active" role="button">Home</a>
    </div>
<div class="col-sm-5" style="background-color:white">


{%for i in each%}
    {%for j in i%}

        <li class="list-group-item">{{j}}</li>

    {%endfor%}
        <li class="list-group-item list-group-item-dark"></li>
    <li class="list-group-item list-group-item-dark"></li>
    <li class="list-group-item list-group-item-dark"></li>
    <li class="list-group-item list-group-item-dark"></li>

{%endfor%}


    </div>
</div>
    </div>
<!--</div>-->


{% endblock %}