{% extends 'QC/base.html'%}
{% load crispy_forms_tags %}


{% block content%}
<br>
<div class="container" >

<div align="right">
        <li class="list-group-item list-group-item-primary">نام اپراتور</li>
{%for agent in context%}

    <li class="list-group-item list-group-item-active">
        <a href={%url "agent_detail" agent.id%} class="list-group-item list-group-item-action">{{agent.agent}}</a>
    </li>




{%endfor%}
<br>
<a href="{%url 'qc'%}"  class="btn btn-primary active" role="button">Home</a>


    </div>
</div>
{% endblock %}